.button {
  font-family: Noto Sans JP;
  font-weight: lighter;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 15px;

  &--secondary {
    display: block;
    width: 15%;
    background-color: #ed960b;
    border-radius: 10px;
  }

  &--primary {
    display: inline-flex;
    width: 80px;
    background-color: #6263d5;
    border-radius: 21px;
  }
}
