.calendar {
  width: 100%;

  &__title {
    font-family: Noto Sans JP;
    font-weight: bold;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
