.card {
  padding-top: 20px;
  padding-left: 15px;
  border-radius: 12px;

  &--primary {
    display: flex;
    background-color: #6263d5;
    padding-right: 40px;
    width: 100%;
  }
  &--secondary {
    background-color: white;
    width: 70%;
  }

  &__text {
    font-family: Noto Sans JP;
    font-size: 20px;
    font-weight: bold;

    &--primary {
      color: white;
    }
    &--secondary {
      color: #6263d5;
    }
  }

  &__subtitle {
    font-family: Montserrat;
    font-weight: lighter;
    color: white;
    padding-top: 10px;
  }
}
