$grid-spc: 12px;
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-right: -$grid-spc;
  &--padd {
    padding-left: $grid-spc;
    padding-right: $grid-spc;
  }

  &--adaptive {
    & > .col {
      display: flex;
    }
  }
  .col {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;

    &-main {
      padding-top: 10px;
      display: block;
      //border: 1px solid red !important;
      width: calc(100% - 450px);
    }
    &-aside {
      padding-top: 10px;
      //border: 1px solid yellow;
      width: 450px;
      display: block;
    }
  }
}
