@import "../base/base.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-top: 30px;
  padding-right: 40px;

  &__title {
    font-family: Noto Sans JP;
    font-weight: bold;
    font-size: 25px;
    color: black;
  }

  &__alignment {
    display: flex;
    align-items: end;
  }

  &__actions {
    display: inline-flex;
    padding-top: 20px;
    padding-right: 100px;
  }
}
