.icon {
  &--base {
    width: 45px;
    height: 45px;
  }

  &__clipboard {
    content: url(../../assets/icons/Clipboard.svg);
  }

  &__recruitment {
    content: url(../../assets/icons/Recruitment.svg);
  }

  &__bird {
    content: url(../../assets/icons/Bird.svg);
  }

  &__reports {
    content: url(../../assets/icons/Reports.svg);
  }
  &__calendar {
    content: url(../../assets/icons/Calendar.svg);
  }
  &__settings {
    content: url(../../assets/icons/Settings.svg);
  }
  &__dashboard {
    content: url(../../assets/icons/Dashboard.svg);
  }

  &__enter {
    content: url(../../assets/icons/Enter.svg);
  }

  &__searchIcon {
    content: url(../../assets/icons/Search.svg);

    opacity: 0.6;
  }

  &__bell {
    content: url(../../assets/icons/Bell.svg);

    opacity: 0.6;
  }
  &__mail {
    content: url(../../assets/icons/Mail.svg);

    opacity: 0.6;
  }

  &__threedots {
    content: url(../../assets/icons/ThreeDots.svg);
    width: 24px;
  }

  &__arrows {
    padding-right: 50px;
  }

  &__leftarrow {
    content: url(../../assets/icons/LeftArrow.svg);
    width: 40px;
    height: 40px;
  }
  &__rightarrow {
    content: url(../../assets/icons/RightArrow.svg);
    width: 40px;
    height: 40px;
  }

  &__phone {
    content: url(../../assets/icons/Phone.svg);
    width: 50px;
  }

  &__workerMail {
    content: url(../../assets/icons/WorkerMail.svg);
    margin-left: 28px;
    width: 50px;
  }

  &__message {
    content: url(../../assets/icons/Message.svg);
    margin-left: 28px;
    width: 50px;
  }

  &--small {
    width: 25px;
  }
}
