.profile {
  display: inline-flex;
  align-items: center;
  font-family: Noto Sans JP;
  &__name {
    padding-left: 20px;
    padding-right: 20px;
  }

  &__image {
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;

    &--secondary {
      border: 1px solid black;
    }
  }
}
