.workers{
 
        border-radius: 12px;
        margin-top: 24px;
        margin-left: 24px;
        width: 50%; 
       

    &__title{
        margin-left: 12px;
        font-family:Noto Sans JP;
        font-weight:bold;
        font-size:20px;
        color:black;
        width:100%;
        display:flex;
        justify-content: space-between;
    }

    &__information{
        margin-top: 16px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}


