/*
.rdr {
  .rdrDefinedRangesWrapper {
    display: none;
  }
  .rdrCalendarWrapper {
    width: 100%;
    position: relative;
  }

  .rdrMonth {
    width: 400px;
    border-radius: 20px;
    background-color: white;
  }
  .rdrMonthAndYearWrapper {
    height: 30px;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    .rdrNextPrevButton {
      width: 46px;
      height: 28px;
      border-radius: 10px;
    }
    .rdrPprevButton {
      position: absolute;
      right: 60px;
      background-color: grey;
    }
    .rdrNextButton {
      position: absolute;
      right: 0;
      background-color: grey;
      margin-right: 0;
      i {
        margin: 0 0 0 18px;
      }
    }
    //display: none;
  }
  .rdrMonthAndYearPickers {
    text-align: left;
    position: absolute;
  }

  .rdrDateDisplayWrapper {
    background-color: purple;
    margin-top: 46px;
    background-color: #eff1ff;
  }
  .rdrDateRangeWrapper {
    background-color: purple;
  }
  .rdrDateInput {
    border-radius: 8px;
    padding: 8px;
    background-color: #dadcf9;
    input {
      color: purple;
      font-weight: bold;
    }
  }
  .rdrDateDisplay {
    margin: 0;
    margin-bottom: 16px;
  }
  .rdrDateDisplayItemActive {
    border: none;
  }

  .rdrDateDisplayItem {
    margin-left: 0.833em;
    border-radius: 4px;
    background-color: rgb(219, 220, 250);
    box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
    border: 1px solid transparent;
    flex: 1 1;
    width: 0;
    text-align: center;
    color: inherit;
  }

  .rdrWeekDay {
    font-weight: bold;
    color: black;
  }
  .rdrStartEdge {
    background-color: purple;
    right: 0;
    width: 26px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .rdrEndEdge {
    background-color: #ed960b;
    right: 0;
    width: 26px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    span {
      color: white;
    }
  }
  .rdrInRange {
    background-color: white;
  }

  .rdrDay:not(.rdrDayPassive) .rdrInRange ~ .rdrDayNumber span,
  .rdrDay:not(.rdrDayPassive) span {
    color: black;
  }

  .rdrEndEdge ~ .rdrDayNumber span {
    color: white !important;
  }
  .rdrDayToday .rdrDayNumber span:after {
    background: none;
  }
  .rdrDayHovered {
    border: none;
  }
}
*/

.rdr {
  &DefinedRangesWrapper {
    display: none;
  }
  &CalendarWrapper {
    width: 100%;
    position: relative;
  }
  &Month {
    width: 400px;
    border-radius: 20px;
    background-color: white;
  }

  &MonthAndYearWrapper {
    display: none !important;
    .rdrNextPrevButton {
      width: 46px;
      height: 28px;
      border-radius: 10px;
      display: none;
    }
    .rdrPprevButton {
      position: absolute;
      right: 60px;
      background-color: blue;
    }
    .rdrNextButton {
      position: absolute;
      right: 0;
      background-color: blue;
      margin-right: 0;
      i {
        margin: 0 0 0 18px;
      }
    }
    //display: none;
  }
  &MonthAndYearPickers {
    text-align: left;
    position: absolute;
  }

  &DateDisplayWrapper {
    background-color: yellow;
  }
  &DateRangeWrapper {
    background-color: red;
  }
  &DateInput {
    border-radius: 8px;
    padding: 8px;
    background-color: #dadcf9;
    input {
      color: blue;
      font-weight: bold;
    }
  }
  &DateDisplay {
    margin: 0;
    margin-bottom: 16px;
  }
  &DateDisplayItem {
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 2px 0 rgb(35 57 66 / 21%);
    border: none;
  }
  &DateDisplayItemActive {
    border: none;
  }

  &DateDisplayItemActive {
    border: none;
  }
  &WeekDay {
    font-weight: bold;
    color: black;
  }
  &StartEdge {
    background-color: blue;
    right: 0;
    width: 26px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  &EndEdge {
    background-color: #ed960b;
    right: 0;
    width: 26px;
    height: 26px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    span {
      color: white;
    }
  }
  &InRange {
    background-color: white;
  }

  &Day:not(.rdrDayPassive) &InRange ~ &DayNumber span,
  &Day:not(.rdrDayPassive) span {
    color: black;
  }

  &EndEdge ~ &DayNumber span {
    color: white !important;
  }
  &DayToday &DayNumber span:after {
    background: none;
  }
  &DayHovered {
    border: none;
  }
}
